/*!************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/index.scss ***!
  \************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap);
/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/index.scss (1) ***!
  \****************************************************************************************************************************************************************************************/
.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  max-width: 1400px;
  margin: 0 1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1,
.h1 {
  font-family: var(--font-monospace);
  font-weight: bold;
}

h2,
.h2 {
  font-family: var(--font-monospace);
  font-weight: bold;
}
h2__link,
.h2__link {
  text-decoration: none;
  margin-right: 2rem;
  position: relative;
  display: block;
}
h3,
.h3 {
  font-family: var(--font-monospace);
  font-weight: bold;
}

h4,
.h4 {
  font-family: var(--font-monospace);
  font-weight: bold;
}

h5,
.h5 {
  font-family: var(--font-monospace);
  font-weight: bold;
}

h6,
.h6 {
  font-family: var(--font-monospace);
  font-weight: bold;
}

/**
* To include fonts please use https://google-webfonts-helper.herokuapp.com/fonts
* It will generate all fonts and css code which you should place in the project.
 */
:root {
  --font-sans-serif: "font-famil-name-sans-serif";
  --font-monospace: "font-famil-name-monospace";
  --font-sans-serif: "sans-serif";
}

:root {
  --white: #fff;
  --black: #000;
}

* {
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 1rem;
}

body {
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

.login-page {
  width: 100%;
  height: 100vh;
  background-image: url("./img/photo.jpg");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  font-family: "SansSerif", sans-serif;
}
.login-page__container {
  background-color: var(--white);
  opacity: 0.6;
  color: var(--black);
  border-radius: 3%;
  width: 35vh;
  height: 35vh;
  text-align: center;
}
.login-page__form input {
  display: block;
  margin: 5px 45px;
  border-radius: 5%;
  border: 1px solid black;
  width: 15rem;
  height: 2rem;
}
.login-page__form input input::-webkit-input-placeholder {
  color: var(--black);
  opacity: 0.7;
  font-size: 1.5rem;
}
.login-page__form input input::-moz-placeholder {
  color: var(--black);
  opacity: 0.7;
  font-size: 1.5rem;
}
.login-page__form input input:-ms-input-placeholder {
  color: var(--black);
  opacity: 0.7;
  font-size: 1.5rem;
}
.login-page__form input input::-ms-input-placeholder {
  color: var(--black);
  opacity: 0.7;
  font-size: 1.5rem;
}
.login-page__form input input::placeholder {
  color: var(--black);
  opacity: 0.7;
  font-size: 1.5rem;
}
.login-page__login-panel {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25rem;
  font-size: 0.8rem;
}
.login-page__login-panel__reminder {
  color: var(--black);
  margin: 10px 0px 5px;
}
.login-page__login-panel__button {
  width: 10vh;
  height: 5vh;
  margin-left: 80px;
  background-color: var(--black);
  color: var(--white);
}

@media (min-width: 992px) {
  .nav__mobile-menu, .nav__mobile-container {
    display: none;
  }
  .nav__main-menu {
    display: initial;
  }
}
/**
Safari hacks
 */
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (-o-min-device-pixel-ratio: 0/1), not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    * {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      -webkit-overflow-scrolling: touch;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
    }
    a[href^=tel] {
      color: inherit;
      text-decoration: none;
    }
  }
}

/*# sourceMappingURL=common.css.map*/